[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "namedropR"]
	path = namedropR
	url = https://github.com/nucleic-acid/namedropr
